.chatting_post {
    display: inline-block;
    /* position: relative; */
    margin: auto;
    width: 100%;
    /* height: 40%; */
    background-color: transparent;
    border: none;
}
.chatting_post_body {
    /* position: absolute; */
    /* left: 5%; */
    /* top: 5%; */
    margin-left:3%;
    margin-top: 8%;
    margin-bottom: 3%;
    display: inline-block;
    /* height: 90%; */
    width: 90%;
    border-radius: 10%;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
    border: none;
    box-shadow: 6px 5px 10px rgb(164, 160, 160);
}
.chatting_post>.chatting_post_shadow {
    box-shadow: inset 6px 5px 10px rgb(164, 160, 160);
}
.chatting_post_body_para {
    width: 90%;
    margin-left: 5%;
}
.chatting_post_body_head {
    float: left;
    height: 136px;
    width: 100%;
    margin-top: 1%;
    line-height: 136px;
    overflow:hidden;
    background-color: transparent;
}
.chatting_post_user_pic {
    float: left;
    height: 25%;
    width: 110px;
    background-color: transparent;
}
.user_photo {
    width: 90px;
    height: 90px;
    margin-left: 2%;
    margin-top: 20%;
    border-radius: 45px;
    background-color: gold;
    background-repeat: no-repeat;
    background-size: cover;
}
.chatting_post_user_name {
    font-size: 2.6em;
    color: rgb(77, 71, 71);
}
.chatting_post_body_content {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: transparent;
}
.chatting_post_body_content>p {
    word-break: break-word;
    font-size: 2.3em;
}
.chatting_post_body_pictures {
    display: inline-block;
    width: 100%;
    margin-bottom: 28px;
    border-radius: 10%;
    overflow: hidden;
}
.chatting_post_body_pictures>img {
    float: left;
    width: 49.5%;
    height: 200px;
    margin-bottom: 1%;
    background-color: rgb(182, 131, 182);
}
.chatting_post_body_pictures>img:nth-child(2n-1){
    margin-right: 1%;
    background-color: blue;
}
.chatting_post_body_pictures>img:last-child {
    margin-bottom: 0;
    background-color: green;
}
.chatting_function_box {
    margin-bottom: 60px;
    width: 100%;
    background-color: grey;
}
.chatting_post_time {
    float: left;
    margin-right: 11%;
    color: rgb(187, 182, 182);
    font-size: 2em;
}
.chatting_post_like {
    float: left;
    margin-right: 20%;
    color: pink;
    font-size: 2em;
    font-family: 'icomoon';
}
.chatting_post_like>.chatting_post_like_count {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2em;
    color: blanchedalmond;
}
.chatting_post_delete {
    float: left;
    margin-right: 20%;
    color: rgb(38, 38, 116);
    font-size: 1.8em;
}
.chatting_post_reply_box {
    margin-bottom: 58px;
    border: 1px solid white;
}
.chatting_post_reply_box>p {
    font-size: 1.8em;
}
.chatting_post_reply_box>p:first-child {
    margin-top: 3px;
}
.chatting_post_reply_history {
    text-align: center;
    font-size: 1.5em;
    color: rgb(56, 56, 188);
}
